@model List<OrderDetailsViewModel>

@{
    ViewData["Title"] = "My Orders";
}

<div class="container-fluid row justify-content-center px-4">
    <div class="col-10">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <span class="fs-2 fw-semibold">My Orders</span>
        </div>
        <div class="bg-white shadow p-3 mt-4">
            <div class="table-responsive">
                <table class="table" id="cartList">
                    <thead>
                        <tr>
                            <th>#Order</th>
                            <th>Products</th>
                            <th>Order Status</th>
                            <th>Total Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var order in Model) {
                            <tr>
                                <td>#@order.Id</td>
                                <td>
                                    @foreach(var product in order.OrderedProducts!) {
                                        <div class="d-flex flex-column mt-2" style=" min-width: 250px; max-width: 400px;">
                                            <div class="d-flex justify-content-between">
                                                <div class="me-5">
                                                    <span style="list-style-type: disc; display: inline-block; margin-right: 8px;">•</span>
                                                    @product.ProductName - (@product.ProductQuantity)
                                                </div>
                                                <div style="">@product.ProductRate.ToString("F2")</div>
                                            </div>
                                        </div>
                                    }
                                </td>
                                <td>@order.OrderStatus</td>
                                <td>@order.TotalAmount.ToString("F2")</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if(Model.Count() == 0) {
                    <div class="d-flex justify-content-center align-items-center py-5">
                        <div class="fs-5 fw-semibold" style="color: #727b83;">No Data Available.</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>